@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: rgba(255, 69, 0, 1);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 69, 0, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 69, 0, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 69, 0, 0);
  }
}
